{% extends "/mobile/m_base.html" %}

{% block title%} {{course_data.course_name}}  {%endblock%}



{% block contents %}

    {# 内页顶部导航 #}
    <div class="header_nav">
        
        <div class="header_nav_back am-u-sm-1">
            <a href="/m/home">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
         <div class="header_nav_info am-u-sm-11">
            <p> {{course_data.course_name}} </p>
         </div> 
    </div>
    {# 课程信息 #}
    <div class="course_detail">
        
        <div class="course_detail_img">
            <img src="{{course_data.course_img}}" alt="">
        </div>
        <div class="course_detail_about">
            
            <div class="course_detail_about_data am-u-sm-4 ">
                <h3>{{course_data.course_count}}</h3>
                <p>套课程包</p> 
            </div>
            <div class="course_detail_about_data am-u-sm-4 ">
                <h3>{{course_data.course_size}}</h3>
                <p>G累计大小</p> 
            </div>
            <div class="course_detail_about_data am-u-sm-4 ">
                <h3>{{course_data.course_count}}</h3>
                <p>浏览量</p> 
            </div>
        </div>

    </div>
   

    <p class="course_category"><i class="am-icon-gg"></i> &nbsp课程资源</p>
    {# 课程资源详情 #}
    <div class="course_resource">
            

        {# 每个资源 #}
        <section data-am-widget="accordion" class="am-accordion am-accordion-basic  resource_accordion" data-am-accordion='{  }'>
            {%for i in course_data.course_data %}
            <dl class="am-accordion-item ">
                <dt class="am-accordion-title">
                    <span class="am-badge  resource_size">{{i.resource_size}}G</span>
                    {{loop.index}}.{{i.resource_name}} 
                </dt>
                <dd class="am-accordion-bd am-collapse ">
                    <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                    <div class="am-accordion-content">
                        <ul class="am-list">
                            <li>简介:{{i.resource_description}}  </li>
                            <li>更新时间：2017-1-31</li>
                            <li>百度云链接 <a href="{{i.resource_addr}}">{{i.resource_addr}}</a></li>
                            {%if passwd_dict %}
                                <li>提取密码：<code>{{ passwd_dict.get(i.resource_id) }} </code></li>
                            {% else %}
                                <li>提取密码：<code>兑换课程后显示提取码 </code></li>
                            {% endif %}
                        </ul>
                    </div>
                </dd>
            </dl>
            {%endfor%}
        </section>
    
    
    {# 兑换课程弹出层 #}
    <div class="am-popup act_model" id="my-popup">
            
        <div class="act_model_img">
            <img src="../../static/img/other/act_card_bk.png" alt="" />
        </div>
        <div class="act_model_form">
            <form action="">
                
                <div class="act_input">
                    <input type="text" class="am-form-field am-round" placeholder="输入4位数字课程兑换码"/>
                </div>
                <div class="act_btn">
                    <button type="button" class="am-btn am-btn-success am-round">兑换课程</button>
                </div>
              
              

            </form>
        </div>

    </div>


    </div>
    {# 尾部工具栏 #}
        {# 尾部导航 #}
    <div class="footnav">
            
        <div class="tools_buy am-u-sm-8">
            <p>
                累计{{course_data.course_count}}套课程共{{course_data.course_size}}G
                <br><a href=""><a href="">购买兑换码</a>
            </p>
        </div>
        <div class="tools_act am-u-sm-4">

            <a href="javascript:void(0)" data-am-modal="{target: '#my-popup'}" >兑换课程</a>
        </div>
        
    </div>


{% endblock %}