html{
    text-decoration:none!important;
    top: 0px;
    bottom: 0px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    /* margin: 0px 0px 120px 120px !important; */
}
body{

    top: 0px;
    bottom: 0px;
    margin: 0px;  
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin: 0px 0px 120px 120px !important;
}

h1,h2,h3,h4,h5,p{
    
    top: 0px!important;
    bottom: 0px!important;
}

a {
    text-decoration:none
}

a:hover {
    text-decoration:none!important;
}
/* 强制覆盖掉第三方的样式 */
.card .card-image img {
/*     width: auto!important;
    height: 100%!important; */
}
table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #f3f3f4;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #ee6e73;
    font-weight: bolder;
    color: #333!important;
}
.tabs .indicator {
    background-color: #999;
}

/* PC端导航栏 */

.l-left-nav{

    position: fixed;
    /* background: transparent linear-gradient(80deg, #0b4182 1%, #1a78cf 99%) repeat scroll 0% 0%; */
    background: transparent linear-gradient(80deg, #333 1%, #4A4A4A 99%) repeat scroll 0% 0%;
    left: 0px;
    text-align: center;
    width: 120px;
    height: 100%;
    z-index: 8888;
    top: 0px!important;
    bottom: 0px!important;


}
.l-left-nav img{

    max-width: 120px;
    display: block;
    margin: 40px auto;
    padding-left: 8px;
}
.l-left-nav ul {

    list-style: none;
    color: #fff;
    margin: 0px 0px;
    padding: 0px;
}
.l-left-nav ul li{
    
    display: block;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;

}
.l-left-nav ul li img{

    max-width: 28px;
    display: block;
    margin: 8px auto;
    padding: 0px;

}
.l-left-nav a{

    color: #fff;
    font-size: 14px;

}
.l-left-nav::after{

　　content: "";

　　position: absolute;

　　left: -10px;

　　top: -10px;

　　right: -10px;

　　bottom: -10px;

}
/* ==内容区域== */
/* 标题 */

/* 右侧内容区域样式 */
.l-right-contents{
    
/*     margin-left: 120px !important;
    padding-left: 120px; */

}

/* 一级页面，标题组件样式 */
.l-title{

    height: 160px;
    /* background-color: yellow; */
    text-align: center;
}
.l-title h1{

    padding-top: 28px;
    font-size: 30px;
}

.l-title-line{

    height: 1px;
    background-color: #EDF0F2;
    width: 100%;
    overflow: hidden;
}

/* usr-tools */
.l-user-tools{
        
    height: 40px;
    
}

/* 2级页面，标题组件样式 */

.l-sub-title{
    
    
}
.l-sub-title-left{
    
  

}
.lstl-img{
    
    text-align: center;
}
.l-sub-title-left  img{
    
    max-width: 50px;
    height: 50px;
    border-radius: 99px;
    margin-left: 2em;
    margin-top: 1.0em;

}
.l-sub-title-left > h1,h2,h3,h4,h5{
    
    font-weight: 600px;

}

.lstl-control{

    margin-top: 30px;
    margin-right: 30px;
    float: right;
}



/* 课程导航 */

.l-content-nav{
    
    /* margin-left: 120px; */
    max-width: 1400px;
    font-size: 14px;
}

.l-content-nav a{
    
    font-size: 14px;
    color: #666!important;
    text-align: 
}


/* 课程内容区域 */

.l-content-nav-tab{

    margin-bottom: 20px;

}


/* ========act.html==== */
/* 激活码填写区域 */
.l-act-input{

    text-align: center;
}
.l-act-input p{

    color: #666;
}



