{% extends "base.html" %}

{%block title%} 课程兑换 {%endblock%}


{% block contents %}


    {# 引入宏组件 #}
    {% import 'component.html' as md %}
    
    {# 标题 #}

    <div class="container-fluid act">
        <!-- 输入表单 -->
<!--        <div class="row act_card">
            <div class="act-user">
                <div class="act_form">
                    <form action="">
                        
                        <div class="input-field col s2 offset-s5">
                            <span>请输入4位数字兑换码</span>
                            <input placeholder="" id="first_name" type="text" class="validate text-center">
                            <!~~  <label for="first_name" class="active text-center">请输入4位数字兑换码</label> ~~>
                            <a class="btn  green lighten-1 z-depth-0 waves-effect waves-brown waves-ripple actpage_submit ">兑换课程</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
-->
        <div class="container">
            <div class="row">
                <div class="card act_card large z-depth-2 col s8 offset-s2 ">
                    <div class="card-image">
                        <img src="/static/img/other/act_card_bk.png">
                        <span class="card-title text-center">课程兑换</span>
                    </div>
                    <!-- <div class="card-content">
                        <p>请输入4位数字兑换码，兑换课程，如有疑问请联系客服。</p>
                    </div> -->
                        <form method ="Post" action="/index">
                            <div class="input-field actpage_input col s10 offset-s1 ">
                                <input placeholder="" \
                                    id="first_name" type="text" 
                                    class="validate"
                                    onkeyup="value=value.replace(/[^\d]/g,'')" pattern="[0-9]{4}" 
                                    title="请输入4位数字兑换码"

                                >
                                    
                                <label for="first_name" class="active ">请输入4位数字兑换码</label>
                        
                            </div>
                            <div class="card-action actpage_card_action">
                                <button class="btn  green lighten-1 z-depth-0 waves-effect waves-brown waves-ripple actpage_submit " type="submit">兑换课程</button>
                            
                            </div>
                        </form>
                </div>
                
            </div>
        </div>



        <!-- 背景图片 -->
        <div class="act_bk_bk">
            <img class="act_bk_img" src="/static/img/other/act_bk.png" alt="">
        </div> 
    </div>




{% endblock %}



