<!-- 这个文档放置组件，利用macro实现 -->


{# 组件定义 #}
<!-- 网页标题栏块 -->

{% macro contents_title(title="课程标题",description="课程副标题")-%}
    
    <div class="l-title ">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div class="l-title-line"></div>

{%- endmacro %}

{# 内页标题栏目 + 右侧功能按钮 #}

{% macro course_sub_title(course_name="课程名称",img_url="",course_category="类别",course_count="",course_size=0,course_passwd=None) %}

<div class="l-sub-title-left row">
    
    {# 左边是课程的信息 #}
    <div class="col s1 lstl-img"><img src="{{img_url}}"></div>
    <div class=" col s5">
        <h5>{{course_name}}</h5>
        <span>{{course_category}} | 共有 {{course_count}} 门课程 | 共计 {{course_size}} G</span> &nbsp
        {%if course_passwd != None %}<span class="label label-success">已兑换</span>{%endif%}
    </div>
    {# 右边是操作，返回上一页，兑换课程，导出地址和提取码 #}
    <div class="col s6">
        <div class="lstl-control">
            <div class="btn-group">
                <a href="/index"><button  type="button" class="btn btn-default grey darken-1 tooltipped " aria-label="Left Align" data-tooltip="返回上一页" >
                    <span title = "返回上一页" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button></a>

                <a href="#" data-activates="slide-out" ><button title = "d"  type="button" class="btn btn-default grey darken-1  button-collapse tooltipped"   aria-label="Right Align" data-activates="slide-out"  data-tooltip="前往店铺购买此课程">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </button></a>

                <a href="#"><button type="button" class="btn btn-default grey darken-1 tooltipped" aria-label="Right Align" data-tooltip="导出为txt保持到本地">
                    <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                </button></a>

            </div>
        </div>
       

    </div>
</div>

<div class="l-title-line"></div>

{% endmacro%}

