{% extends "base.html" %}

{% block title%} LEA编程学院 - 全面编程自学资源库 {%endblock%}

{% block pc_nav%} {{super()}} {%endblock%}

{% block contents %}
<!-- ==内容区== -->
    

    <div class="container-fluid l-right-contents">
        <div class="l-title ">
            <h1>LEA编程学院 课程库</h1>
            <p>海量精品课程资源收集，任您挑选</p>
        </div>
        <div class="l-title-line"></div> 
        <div class="l-content">
            <!-- 课程分类和内容 -->
            <div class="row l-content-nav">
                <!-- 导航 -->
                <div class="col s12 l-content-nav-tab">
                    <ul class="tabs ">
                        {# 这里是分类菜单，从数据库读取 #}
                        {% for cour in course %}
                            <li class="tab">
                                <a class="{%if loop.first %} active {%endif%}" href="#{{cour['category_id']}}">{{cour.category_name}}</a>
                            </li>   
                        {% endfor %}

                    </ul>
                </div>
                {# 这里是每个分类地下的课程详情 #}
                {% for cour in course %}
                    <div id="{{cour.category_id}}" class="col s12">
                        {# 一个分类地下的所有课程 #}                        
                        <!-- 课程卡片 -->
                        {% for i in cour.category_course %}
                            <div class="col s12 m3 ">
                                <div class="card small z-depth-1">
                                    <div class="card-image">
                                    <img src="{{i.course_img}}"></div>
                                    <div class="card-content">
                                        <span class="card-title">{{i.course_name}}</span>
                                    </div>
                                    <div class="card-action">
                                        <a href="/course/{{i.course_id}}">点击查看</a>
                                    </div>
                                </div>
                            </div>

                        {%endfor%}

                    </div>
                {% endfor%}



                <!-- 每个导航地下的内容 -->
            {#     <div id="test1" class="col s12 ">
                    <!-- 这里放置课程内容列表 -->
                    <div class="row">
                        <div class="col s12 m3 ">
                            <div class="card small z-depth-1">
                                <div class="card-image">
                                <img src="http://vue-js.org/images/vue-js-what-is-that.jpg">      </div>
                                <div class="card-content">
                                    <span class="card-title">Vue.js课程</span>
                                </div>
                                <div class="card-action">
                                    <a href="#">查看</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3 ">
                            <div class="card small z-depth-1">
                                <div class="card-image">
                                <img src="http://img2.imgtn.bdimg.com/it/u=359120593,1637693053&fm=27&gp=0.jpg">      </div>
                                <div class="card-content">
                                    <span class="card-title">Angular.js课程</span>
                                </div>
                                <div class="card-action">
                                    <a href="#">查看</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3 ">
                            <div class="card small z-depth-1">
                                <div class="card-image">
                                <img src="http://n1.itc.cn/img8/wb/recom/2016/08/17/147144894821161299.PNG">      
                                </div>
                                <div class="card-content">
                                    <span class="card-title">React.js课程</span>
                                </div>
                                <div class="card-action">
                                    <a href="#">查看</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3 ">
                            <div class="card small z-depth-1">
                                <div class="card-image">
                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1506276630051&di=648bede1b38569c6244326c7692ba5f4&imgtype=0&src=http%3A%2F%2Fimg.mukewang.com%2F54d3157a0001352f04280252.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Javascript课程</span>
                                </div>
                                <div class="card-action">
                                    <a href="#">查看</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="test2" class="col s12">后端</div>
                <div id="test3" class="col s12">Android开发</div>
                <div id="test4" class="col s12">IOS开发</div>
                <div id="test5" class="col s12">运维</div>
                <div id="test6" class="col s12">数据库</div>
                <div id="test7" class="col s12">大数据</div>
                <div id="test8" class="col s12">微信</div>
                 #}


            </div>
        </div>
    </div>

    <!-- 开发信息展示 -->
    {%if dev_data['flag']%}
    
    <div class="container l-right-contents">  
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>开发调试信息：<br> </strong>
            Git版本: {{dev_data.git['version']}} <br>
            版本信息: {{dev_data.git['commit']}} <br>
            更新时间: {{dev_data.git['time']}} <br>
        </div>
    </div>

    
    {%endif%}


{% endblock %}