{% extends "base.html" %}


{%block title%} 课程详情 {%endblock%}


{% block contents %}
    {# 引入宏组件 #}
    {% import 'component.html' as md %}

   

<!-- 顶部的标题组件 -->
    
    <!-- 用户登录、消息盒子等 -->
    <div class="l-user-tools row">
        <div class="container">
            <!-- pass -->
        </div>

        <div class="col s12"></div>
    </div>
    
    {# 这里是头部标题的组件 #}
    {{ md.course_sub_title(course_name=course_data.course_name,img_url=course_data.course_img,course_category=course_data.course_category,course_count=course_data.course_count,course_passwd=passwd_dict)}}

    {# 这里是课程表格的组件 #}
    
    <div class="l-excel row">
        
        <div class="container-fluid">
                

            <table class="highlight bordered">
                <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>更新日期</th>
                        <th>资源链接</th>
                        <th>提取密码</th>
                    </tr>
                </thead>
                <tbody>
                    {# 需要填充的地方 #}
                    {%for i in course_data.course_data %}
                    <tr>
                        <td>《{{i.resource_name}}》</td>
                        <td>{{i.update_time}}</td>
                        <td><a target="_blank" href="{{i.resource_addr}}">{{i.resource_addr}}</a></td>
                        <td>
                            {% if passwd_dict %}
                                <code>  {{passwd_dict[i.resource_id] }}  </code>
                            {% else %} 
                                <a class="waves-effect waves-light btn blue" href="#act_modal" >获取提取码</a>
                            {% endif %}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>

    </div>    

    {# 这里是谈层 #}
    <!-- modal内容，输入兑换码 -->
    <div class="remodal" data-remodal-id="act_modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <!-- 兑换成功的提示 + 兑换时候的表单组，通过是否有passwd_dict来切换 -->
        {% if passwd_dict %} 
            <h5>恭喜您兑换成功</h5>
            <p>
                祝您事业有成,步步高升 <a href="#">前往小店购买更多课程。</a>
            </p>
            <br>
            <button type="submit" data-remodal-action="confirm" class="remodal-confirm">确认</button>

        {% else %} 
            <h5>输入您的兑换码</h5>
            <p>
                输入兑换码获取提取密码,没有兑换码？<a href="#">前往小店购买。</a>
            </p>
            <br>
            <form method="POST" >
                <!-- 这里输入兑换码 -->
                <div class="row">
                    <div class="input-field col s12">
                        <input name='key' value="" id="first_name2" type="text" class="validate">
                        <label class="active" for="first_name2">兑换码</label>
                        
                        {% if get_flashed_messages() %}
                        <div class="alert alert-danger" role="alert">兑换失败，您输入的兑换码错误，请重新输入</div>
                        {% endif %}
                    </div>
                </div>
                <button class="btn" type="submit"  > 提交验证 </button>
            </form>

        {% endif %}

        
        
    </div>
    
    <!-- 消息闪现 -->
    {% for message in get_flashed_messages() %}
        {{message}}
        <a class="btn" onclick="Materialize.toast('flash: {{message}}', 4000)">Toast!</a>
    {%endfor%}

    
    <!-- 开发信息展示 -->
    {%if dev_data['flag']%}
    <div class="container l-right-contents">  
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>课程数据：<br> </strong>
             {{course_data}}<br>
             <strong>密码字典：<br> </strong>
             {{passwd_dict}}

        </div>
    </div>    
    {%endif%}


    
    
{% endblock %}

