{% extends "base.html" %}

{%block title%} 课程兑换 {%endblock%}


{% block contents %}


    {# 引入宏组件 #}
    {% import 'component.html' as md %}
    
    {# 标题 #}

    <div class="container-fluid">
        <div class="l-title ">
            <h1>Leanroom课程兑换</h1>
            <p>填入您的课程数兑换课程</p>
        </div>
        <div class="l-title-line"></div>

        {# 输入表单 #}
        <div class="row l-act-input ">
            <div class="col s12 m12">
                <div class="card white z-depth-1">
                    <div class="card-content white-text"><p>填入您的课程码.</p></div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input value="Alvin" id="first_name2" type="text" class="validate">
                        </div>
                    </div>
        

                    <div class="card-action">
                        <a class="waves-effect waves-light btn blue">点击兑换</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}



